@charset "utf-8";
/* CSS Document */



@media screen and (max-width: 1600px) {
	body {
		font-size: 23px;
	}
	.content {
		margin: 1% 5%;
	}
}

/* Tablette large */
@media screen and (max-width: 1024px) {
	body {
		font-size: 21px;
	}
	.row-2, .row-3 {
		margin: 3% 0;
		width: 94%;
	}
	#sidebar {
		padding-left: 0.5%;
		width: 18.5%;
	}
	#sidebar img {
		display: inline-block;
		width: 90%;
		height: auto;
	}
	.center img {
		width: 50%;
		height: auto;
	}
	.accueil h1 {
		font-size: 175%;
	}
}



/* Tablette */
@media screen and (max-width: 768px) {
	span.menu {
		display: none;
	}
	.title1 {
		font-size: 200%;
	}
}

@media screen and (max-width: 550px) {
	body {
		font-size: 22px;
	}
	.center img {
		width: 85%;
		height: auto;
	}
	.title1 {
		font-size: 150%;
	}
}



/* Smartphone */
@media screen and (max-width: 480px) {
	body {
		font-size: 20px;
	}
	.accueil h1 {
		font-size: 125%;
	}
}