*{
	font-family : 'Tahoma';
}

header a{
	color : #fff;

}

html, body, h1, h2{
	margin : 0;
}

header{
	background-color : #000;
	color : #fff;
	padding : 30px;
}

#wrapper{
	width : 960px;
	margin : 20px auto 0 auto;
}

.error, .success{
	padding : 20px;
	color : #fff;
}
.error{
	background-color : #c0392b;
}

.success{
	background-color : #16a085;	
}